appdirs==1.4.4
attrs==22.1.0
Babel==2.9.1
beautifulsoup4==4.11.1
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.0
colorama==0.4.5
credentials==1.1
cryptography==37.0.4
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.5
docutils==0.16
ebaysdk==2.1.5
filelock==3.8.0
firebase-admin==5.2.0
freezegun==0.3.11
future==0.18.2
gevent==1.5.0
google-api-core==2.8.2
google-api-python-client==2.56.0
google-auth==2.10.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.6.0
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
greenlet==0.4.15
grpcio==1.47.0
grpcio-status==1.47.0
httplib2==0.20.4
idna==2.8
importlib-metadata==4.12.0
iso8601==1.0.2
isodate==0.6.1
Jinja2==2.11.3
libsass==0.18.0
lxml==4.6.5
MarkupSafe==1.1.0
msgpack==1.0.4
num2words==0.5.6
ofxparse==0.19
passlib==1.7.3
Pillow==9.0.1
pipenv==2022.8.15
platformdirs==2.5.2
polib==1.1.0
proto-plus==1.22.0
protobuf==3.20.1
psutil==5.6.7
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.15.0
pydot==1.4.1
PyJWT==2.4.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyPdf==1.13
PyPDF2==1.26.0
pypiwin32==223
pyserial==3.4
python-dateutil==2.7.3
python-stdnum==1.13
pytz==2019.3
pyusb==1.0.2
pywin32==304
PyYAML==6.0
qrcode==6.1
reportlab==3.5.59
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.9
serial==0.0.97
six==1.16.0
soupsieve==2.3.2.post1
twilio==7.12.1
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.16.3
virtualenv-clone==0.5.7
vobject==0.9.6.1
Werkzeug==0.16.1
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
zeep==3.4.0
zipp==3.8.1
